openapi: 3.0.3
info:
  title: 108_xny · 108_霄鸟云 API
  description: |
    跨境玩具 B2B 选品平台 · PHP 8.2 后端

    **统一响应**：`{ code, msg, data }`，`code=0` 成功。

    **分页列表**额外字段：`total`、`page`、`per_page`、`total_pages`。

    **鉴权**：
    - 前缀 `/api`（Nginx 转发至 `backend/public/index.php`）
    - Header `Authorization: Bearer {token}`（登录接口返回）
    - 可选 Cookie `xn_token`、Query `?token=`

    **Apifox 导入**：项目设置 → 导入数据 → OpenAPI/Swagger → 上传本 YAML 文件。

    **导出格式**（Apifox 内）：OpenAPI 3.0 YAML/JSON、Postman、HTML、Markdown、Apifox 原生。
  version: 1.0.0
servers:
  - url: https://xiaoniaoyun.dowima.com/api
    description: 生产环境
  - url: http://127.0.0.1:18080/api
    description: 本地开发（dev.sh）
  - url: http://192.168.1.184/api
    description: 108 内网直连
tags:
  - name: 认证
  - name: 产品
  - name: 工厂
  - name: 询盘
  - name: 订单
  - name: 消息
  - name: 购物车
  - name: 收藏
  - name: 样品
  - name: 发现
  - name: 通知
  - name: IP授权
  - name: 商家端
  - name: 管理端
paths:
  /admin/config:
    get:
      tags: [管理端]
      summary: AdminController_config
      operationId: AdminController_config
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    patch:
      tags: [管理端]
      summary: AdminController_updateConfig
      operationId: AdminController_updateConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/content:
    get:
      tags: [管理端]
      summary: AdminController_content
      operationId: AdminController_content
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/content/{id}:
    patch:
      tags: [管理端]
      summary: AdminController_updateContent
      operationId: AdminController_updateContent
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/dashboard:
    get:
      tags: [管理端]
      summary: AdminController_dashboard
      operationId: AdminController_dashboard
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/finance:
    get:
      tags: [管理端]
      summary: AdminController_finance
      operationId: AdminController_finance
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/finance/withdrawals/{id}:
    patch:
      tags: [管理端]
      summary: AdminController_reviewWithdrawal
      operationId: AdminController_reviewWithdrawal
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/inquiries:
    get:
      tags: [管理端]
      summary: AdminController_inquiries
      operationId: AdminController_inquiries
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/ips:
    get:
      tags: [管理端]
      summary: AdminController_ips
      operationId: AdminController_ips
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/ips/{id}:
    patch:
      tags: [管理端]
      summary: AdminController_updateIp
      operationId: AdminController_updateIp
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/logs:
    get:
      tags: [管理端]
      summary: AdminController_logs
      operationId: AdminController_logs
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/merchants:
    get:
      tags: [管理端]
      summary: AdminController_merchants
      operationId: AdminController_merchants
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/merchants/{id}:
    patch:
      tags: [管理端]
      summary: AdminController_updateMerchant
      operationId: AdminController_updateMerchant
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/orders:
    get:
      tags: [管理端]
      summary: AdminController_orders
      operationId: AdminController_orders
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/orders/{id}:
    patch:
      tags: [管理端]
      summary: OrderController_update
      operationId: OrderController_update
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/products:
    get:
      tags: [管理端]
      summary: AdminController_products
      operationId: AdminController_products
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/products/{id}:
    patch:
      tags: [管理端]
      summary: AdminController_updateProduct
      operationId: AdminController_updateProduct
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/users:
    get:
      tags: [管理端]
      summary: AdminController_users
      operationId: AdminController_users
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /admin/users/{id}:
    patch:
      tags: [管理端]
      summary: AdminController_updateUser
      operationId: AdminController_updateUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /auth/login:
    post:
      tags: [认证]
      summary: AuthController_login
      operationId: AuthController_login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
  /auth/me:
    get:
      tags: [认证]
      summary: AuthController_me
      operationId: AuthController_me
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    delete:
      tags: [认证]
      summary: AuthController_logout
      operationId: AuthController_logout
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /auth/send-code:
    post:
      tags: [认证]
      summary: AuthController_sendCode
      operationId: AuthController_sendCode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendCodeRequest'
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
  /banners:
    get:
      tags: [发现]
      summary: BannerController_index
      operationId: BannerController_index
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
  /cart:
    get:
      tags: [购物车]
      summary: CartController_index
      operationId: CartController_index
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    post:
      tags: [购物车]
      summary: CartController_upsert
      operationId: CartController_upsert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    delete:
      tags: [购物车]
      summary: CartController_remove
      operationId: CartController_remove
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /conversations:
    get:
      tags: [消息]
      summary: ConversationController_index
      operationId: ConversationController_index
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    post:
      tags: [消息]
      summary: ConversationController_store
      operationId: ConversationController_store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /conversations/{id}/messages:
    get:
      tags: [消息]
      summary: ConversationController_messages
      operationId: ConversationController_messages
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    post:
      tags: [消息]
      summary: ConversationController_send
      operationId: ConversationController_send
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /currencies:
    get:
      tags: [发现]
      summary: CurrencyController_index
      operationId: CurrencyController_index
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
  /favorites:
    get:
      tags: [收藏]
      summary: FavoriteController_index
      operationId: FavoriteController_index
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    post:
      tags: [收藏]
      summary: FavoriteController_toggle
      operationId: FavoriteController_toggle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /inquiries:
    get:
      tags: [询盘]
      summary: InquiryController_index
      operationId: InquiryController_index
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    post:
      tags: [询盘]
      summary: InquiryController_store
      operationId: InquiryController_store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /inquiries/{id}:
    get:
      tags: [询盘]
      summary: InquiryController_show
      operationId: InquiryController_show
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    patch:
      tags: [询盘]
      summary: InquiryController_update
      operationId: InquiryController_update
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /ips:
    get:
      tags: [IP授权]
      summary: IpController_index
      operationId: IpController_index
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /ips/apply:
    post:
      tags: [IP授权]
      summary: IpController_apply
      operationId: IpController_apply
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /merchant/dashboard:
    get:
      tags: [商家端]
      summary: MerchantDashController_index
      operationId: MerchantDashController_index
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /merchant/profile:
    get:
      tags: [商家端]
      summary: MerchantDashController_profile
      operationId: MerchantDashController_profile
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    patch:
      tags: [商家端]
      summary: MerchantDashController_updateProfile
      operationId: MerchantDashController_updateProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /merchants:
    get:
      tags: [工厂]
      summary: MerchantController_index
      operationId: MerchantController_index
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
  /merchants/{id}:
    get:
      tags: [工厂]
      summary: MerchantController_show
      operationId: MerchantController_show
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
  /notifications:
    get:
      tags: [通知]
      summary: NotificationController_index
      operationId: NotificationController_index
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    patch:
      tags: [通知]
      summary: NotificationController_markRead
      operationId: NotificationController_markRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /orders:
    get:
      tags: [订单]
      summary: OrderController_index
      operationId: OrderController_index
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    post:
      tags: [订单]
      summary: OrderController_store
      operationId: OrderController_store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /orders/{id}:
    get:
      tags: [订单]
      summary: OrderController_show
      operationId: OrderController_show
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    patch:
      tags: [订单]
      summary: OrderController_update
      operationId: OrderController_update
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /posts:
    get:
      tags: [发现]
      summary: PostController_index
      operationId: PostController_index
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
    post:
      tags: [发现]
      summary: PostController_store
      operationId: PostController_store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /products:
    get:
      tags: [产品]
      summary: ProductController_index
      operationId: ProductController_index
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
    post:
      tags: [产品]
      summary: ProductController_store
      operationId: ProductController_store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /products/{id}:
    get:
      tags: [产品]
      summary: ProductController_show
      operationId: ProductController_show
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
    patch:
      tags: [产品]
      summary: ProductController_update
      operationId: ProductController_update
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    delete:
      tags: [产品]
      summary: ProductController_destroy
      operationId: ProductController_destroy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /ranking:
    get:
      tags: [发现]
      summary: RankingController_index
      operationId: RankingController_index
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
  /samples:
    get:
      tags: [样品]
      summary: SampleController_index
      operationId: SampleController_index
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    post:
      tags: [样品]
      summary: SampleController_store
      operationId: SampleController_store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /samples/{id}:
    patch:
      tags: [样品]
      summary: SampleController_update
      operationId: SampleController_update
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
  /search:
    get:
      tags: [发现]
      summary: SearchController_search
      operationId: SearchController_search
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
  /withdrawals:
    get:
      tags: [商家端]
      summary: WithdrawalController_index
      operationId: WithdrawalController_index
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []
    post:
      tags: [商家端]
      summary: WithdrawalController_store
      operationId: WithdrawalController_store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 成功（code=0）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
        '401':
          description: 未登录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 权限不足
        '404':
          description: 资源不存在
        '422':
          description: 参数校验失败
      security:
        - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: POST /auth/login 返回的 token
  schemas:
    ApiResult:
      type: object
      properties:
        code:
          type: integer
          example: 0
        msg:
          type: string
          example: success
        data:
          nullable: true
    ApiError:
      type: object
      properties:
        code:
          type: integer
          example: 401
        msg:
          type: string
        data:
          nullable: true
    LoginRequest:
      type: object
      required: [phone, code]
      properties:
        phone:
          type: string
          example: '18888888888'
        code:
          type: string
          example: '123456'
    SendCodeRequest:
      type: object
      required: [phone]
      properties:
        phone:
          type: string
          example: '18888888888'
        purpose:
          type: string
          default: login
